@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #222f3e;
$secondary: #2980b9;

html, body {
    font-family: 'Lato';
    background-color: $primary;
    color: white;
}